version: "3.7"
services:
  shawnwebapp:
    container_name: shawn_public
    build:
      context: .
      # dockerfile: dockerfile
    volumes:
      - ".:/app"
      - "/app/node_modules"
    ports:
      - "5173:5173"
    env_file:
      - ./.env
