@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey&display=swap");

:root {
  --secondary-font: "Josefin Sans", sans-serif;
  --main-font: "Open Sans", sans-serif;
  --clr-light-yellow: #bea348;
  --clr-gray: #282a3a;
  --clr-bg: #f2f2f2;
  --clr-dark-yellow: #816532;
  --clr-dark-yellow-hover: hsl(39, 44%, 26%);
  --clr-dark-yellow-active: hsl(39, 44%, 50%);
  --clr-beige: #fdfaf3;
  font-size: 16px;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--clr-bg);
}

.app {
  padding: 1rem;
  max-width: 600px;
  margin-inline: auto;
}

/* top bar */
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__social,
.section5__social-container {
  display: flex;
  gap: 1rem;
}
.nav__social > *,
.section5__social-container > * {
  color: var(--clr-dark-yellow);
  font-size: 1.25rem;
}
.nav__social > *:hover,
.section5__social-container > *:hover {
  color: var(--clr-dark-yellow-hover);

  text-shadow: 0 0 20px rgba(190, 162, 72, 0.75);
}
.nav__social > *:active,
.nav__social > *:focus,
.section5__social-container > *:focus,
.section5__social-container > *:active {
  color: var(--clr-dark-yellow-active);
}
.nav__title {
  font-family: var(--secondary-font);
  color: var(--clr-dark-yellow);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.25px;
  font-size: 0.8rem;
}

/* hero */
.header__content {
  margin-top: 4rem;
}
.header__title {
  font-weight: 400;
  font-family: var(--secondary-font);
  font-size: 3rem;
  font-size: clamp(2.25rem, 10vw, 3.75rem);
  line-height: 120%;
  color: black;
}
.header__content__subtitle {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  margin-top: 1.5rem;
  color: black;
  line-height: 140%;
  letter-spacing: 2px;
  font-weight: 300;
}
.header__button-container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__contact-btn,
.form__btn {
  padding: 20px 40px;
  font-size: 1.25rem;
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 2px;
  border: none;
  border-radius: 0.25rem;
  color: #f2f2f2;
  background-color: var(--clr-dark-yellow);
  text-transform: uppercase;
  line-height: 100%;
  cursor: pointer;
}
.form__btn:hover,
.header__contact-btn:hover {
  background-color: var(--clr-dark-yellow-hover);
}
.header__contact-btn:active,
.form__btn:active {
  background-color: var(--clr-dark-yellow-active);
}
.header__hero-img {
  margin-top: 6rem;
  width: 100%;
}
.hero-mobile {
  width: 100%;
  height: auto;
}

.hr__sections {
  height: 1.5rem;
  width: clamp(3rem, calc(5vw + 1rem), 10rem);
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  margin: 4rem auto;
  margin: clamp(4rem, calc(10vw+2rem), 6rem) auto;
}

.section2__title {
  font-size: 1.75rem;
  font-family: var(--secondary-font);
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
}
.section2__img {
  display: flex;
  position: relative;
}

.crowd-piano-img {
  max-width: 100%;
}
.section2__attribition {
  font-size: 0.7rem;
  font-family: var(--main-font);
  letter-spacing: 1.2px;
  text-align: right;
  transform: rotate(90deg);
  position: absolute;
  bottom: 6rem;
  right: -5rem;
  color: white;
}
.section2__title {
  background-color: var(--clr-dark-yellow);
  padding: 2rem;
  font-size: 2rem;
  color: #f2f2f2;
}
.section2__list-desc,
.section2__list-heading {
  font-family: var(--secondary-font);
  color: #222222;
  margin-top: 2rem;
  font-weight: 300;
  max-width: 60ch;
  font-size: 1.25rem;
  line-height: 140%;
  padding-inline: 2rem;
}
.section2__list-heading {
  font-weight: 600;
}
.section2__list {
  font-family: var(--secondary-font);
  color: #222222;
  font-weight: 300;
  font-size: 1.25rem;
  list-style-type: "- ";
  padding-inline: 3rem;
}

.skills {
  margin-top: 0.5rem;
}

.section4 {
  margin-top: 4rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.section4__title {
  font-size: 2rem;
  font-family: var(--secondary-font);
  font-weight: 300;
  color: black;
  padding: 1rem 0;
}

.section4__text > p {
  font-size: 1rem;
  font-family: var(--secondary-font);
  font-weight: 300;
  color: black;
  padding: 1rem 0;
}

.section4__email-text {
  display: flex;
  font-size: 1rem;
  font-family: var(--secondary-font);
  font-weight: 300;
}

.section4__email-text > p > a,
.section4__email-text > p > a:visited {
  color: #282a3a;
  text-decoration: none;
  font-weight: 400;
}
.section4__email-text > p > a:hover {
  color: var(--clr-dark-yellow);
  font-weight: 600;
}

.section4__form-require {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 0.75rem;
  margin-top: 1.5rem;
}

.form-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.section4__form > input,
.section4__form > textarea {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid rgb(146, 146, 146);
  outline: none;
  width: 100%;
  margin: 0.5rem 0;
  font-family: var(--secondary-font);
  letter-spacing: 1.5px;
}

.section5__social-title {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 400;
}
.section5__social {
  margin-inline: auto;
  max-width: 70ch;
}
.section5__social-container {
  gap: 3rem;
  justify-content: center;
  margin-top: 2rem;
}
.section5__social-container > * {
  font-size: 2.25rem;
}

footer {
  text-align: center;
  font-family: var(--main-font);
  padding: 2rem;
  letter-spacing: 3px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

@media screen and (min-width: 375px) {
  .nav__title {
    font-size: 1rem;
  }
  .nav__social {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 550px) {
  .app {
    padding: 1.5rem;
  }
  .nav__title {
    font-size: 1.5rem;
  }

  .header__content__subtitle {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .app {
    max-width: 90rem;
    padding: 2rem;
  }
  .header__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: center;
  }
  .header__content {
    grid-column: 1 / 2;
  }
  .header__hero-img {
    margin: 0;
    grid-column: 2 / span 2;
  }
  .header__contact-btn {
    margin-top: 3rem;
  }

  .section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .section2__img {
    grid-column: 1 / 2;
  }
  .crowd-piano-img {
    width: 100%;
    height: 100%;
  }
  .section2__content {
    grid-column: 2 / span 2;
  }
}

/* hidden show utility */

.header__hero-img {
  overflow: hidden;
}
.hidden-bottom {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hidden-bottom.show-bottom {
  height: auto;
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0);
  transition-delay: 0.222s;
  transition-duration: 1750ms;
}

.hidden-title {
  transform: translateX(-1rem);
  opacity: 0;
  /* property name | duration | easing function | delay */
}
.show-title {
  transition: transform 0.5s ease-in-out, opacity 0.5s;
  transform: translateX(0px);
  opacity: 1;
}
.show-title:nth-child(2) {
  transition-delay: 0.2s;
}

/* .skills:nth-child(1) {
    transition-delay: 200ms;
  }
  .skills:nth-child(2) {
    transition-delay: 400ms;
  }
  .skills:nth-child(3) {
    transition-delay: 600ms;
  }
  .skills:nth-child(4) {
    transition-delay: 800ms;
  } */
