:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #1c2120;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* header */
header {
  height: 8rem;
}

header > h1 {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  font-weight: 200;
  color: #d4af37;
}

.subtitle {
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 200;
  color: aliceblue;
  letter-spacing: 3px;
  position: relative;
  top: -2rem;
}

/* hero , intro text*/
.hero-container {
  background-color: white;
  width: 100%;
}

.hero-splash {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -2rem;
}

.intro-text {
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: -2rem;
  line-height: 2;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 300;
  font-size: 0.9em;
}

/* section containers */

.services-container,
.samples-container {
  width: 100%;
  height: auto;
  line-height: 2;
}

/* services */

.services-text {
  width: 85%;
  color: aliceblue;
  margin: 0 auto;
  font-weight: 300;
}

/* services list */
.services-text > ul {
  list-style: none;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.services-text > h2 {
  color: #bb8240;
}

.services-body {
  font-size: 0.9em;
  padding-bottom: 4rem;
}

/* Links */
.crowd-piano-img {
  width: 100%;
}

.samples-text {
  width: 85%;
  color: aliceblue;
  margin: 0 auto;
  font-weight: 300;
}

.samples-text > h2 {
  color: #bb8240;
  font-weight: 400;
}

/* link cards */
.card-wrapper {
  display: flex;
  justify-content: center;
}
.card-img {
  max-width: 10rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px black;
}
.card-title {
  text-align: center;
  color: white;
}
