@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey&display=swap");

:root {
  --title-font: "Josefin Sans", sans-serif;
  --main-font: "Josefin Sans", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --clr-light-yellow: #bea348;
  --clr-gray: #282a3a;
  --clr-bg: whitesmoke;
  /* --clr-bg: #0f3325; */
  --clr-dark-yellow: #816532;
  --clr-beige: #fdfaf3;
  font-size: 14px;
}
* {
  box-sizing: border-box;
  /* outline: 1px solid blue; */
}

html,
body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
  letter-spacing: 1.25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* img,
video {
  max-width: 100%;
  height: auto;
  width: 100%;
} */

body {
  background-color: var(--clr-bg);
}
.app {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.fa-share-nodes {
  font-size: 1.5rem;
  color: var(--clr-dark-yellow);
}
.nav__title {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.75;
  font-size: 1rem;
  color: var(--clr-dark-yellow);
}

.nav__links {
  display: none;
}

.header__content {
  margin-top: 4rem;
}

.header__title {
  font-weight: 400;
  font-family: var(--title-font);
  font-size: clamp(2.25rem, 10vw, 3rem);
  letter-spacing: 5px;
  line-height: 1.15;
  color: black;
  /* text-shadow: 4px 4px 50px var(--clr-light-yellow); */
}

.header__content__subtitle {
  font-size: 1rem;
  font-family: var(--secondary-font);
  margin-top: 0.5rem;
  color: black;
  line-height: 1.5;
  letter-spacing: 2.5px;
  font-weight: 300;
}

.header__button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__contact-btn {
  margin-top: 6rem;
  width: 100%;
  max-width: 425px;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: var(--main-font);
  font-weight: 800;
  letter-spacing: 3px;
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: var(--clr-dark-yellow);
  text-transform: uppercase;
}

.header__hero-img {
  margin-top: 4rem;

  overflow: hidden;
}

.hero-mobile {
  width: 100%;
  height: auto;
}

.section2 {
  margin-top: 4rem;
  background-color: var(--clr-dark-yellow);
}

.section2__title {
  font-size: 2rem;
  font-family: var(--secondary-font);
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
}

.crowd-piano-img {
  max-width: 100%;
}

.section2__content {
  padding: 4rem 2rem;
}
.section2__list {
  font-family: var(--secondary-font);
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
}

.skills {
  margin-top: 0.5rem;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-50%);
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

.skills:nth-child(1) {
  transition-delay: 200ms;
}
.skills:nth-child(2) {
  transition-delay: 400ms;
}
.skills:nth-child(3) {
  transition-delay: 600ms;
}
.skills:nth-child(4) {
  transition-delay: 800ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.section4 {
  margin-top: 4rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.section4__title {
  font-size: 2rem;
  font-family: var(--secondary-font);
  font-weight: 300;
  color: black;
  padding: 1rem 0;
}

.section4__text > p {
  font-size: 1rem;
  font-family: var(--secondary-font);
  font-weight: 300;
  color: black;
  padding: 1rem 0;
}

.section4__email-text {
  display: flex;
  font-size: 1rem;
  font-family: var(--secondary-font);
  font-weight: 300;
}

.section4__email-text > p > a,
.section4__email-text > p > a:visited {
  color: #282a3a;
  text-decoration: none;
  font-weight: 400;
}
.section4__email-text > p > a:hover {
  color: var(--clr-dark-yellow);
  font-weight: 600;
}

.section4__form-require {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: 0.75rem;
  margin-top: 1.5rem;
}

.form-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.section4__form > input,
.section4__form > textarea {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid rgb(146, 146, 146);
  outline: none;
  width: 100%;
  margin: 0.5rem 0;
  font-family: var(--secondary-font);
  letter-spacing: 1.5px;
}

.form_btn {
  padding: 1rem 2rem;
  background-color: var(--clr-dark-yellow);
  border: 0;
  outline: 0;
  font-family: var(--main-font);
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.25rem;
  color: white;
  text-transform: uppercase;
}

.section4__social {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.section4__social-title {
  font-family: var(--secondary-font);
}

.section4__icons {
  font-size: 2rem;
  color: var(--clr-dark-yellow);
  padding: 1rem;
}

.separator-line {
  height: 1px;
  width: 95%;
  margin: 1.5rem auto;
  background-color: white;
}

@media screen and (min-width: 550px) {
  :root {
    font-size: 16px;
  }
  .app {
    padding: 1.5rem;
  }
  .nav__title {
    font-size: 1.5rem;
  }
  .header__title {
    font-weight: 600;
    font-size: 3.75rem;
  }
  .header__content__subtitle {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .app {
    max-width: 1300px;
    padding: 2rem;
  }
  .header__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .header__content {
    grid-column: 1 / 2;
  }
  .header__hero-img {
    margin: 0;
    grid-column: 2 / span 2;
  }

  .header__contact-btn {
    margin-top: 3rem;
  }
  .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10rem;
  }
  .section2__img {
    grid-column: 1 / 2;
  }
  .crowd-piano-img {
    width: 100%;
    height: 100%;
  }
  .section2__content {
    grid-column: 2 / span 2;
  }
}
